@{
    ViewBag.Title = "角色权限设置";
}
@using Universal.Entities
@using Universal.Framework.Menu

@model Universal.Entities.Dto.RolePermissionViewModel

<div class="breadcrumbs" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="@Url.RouteUrl("mainIndex")">首页</a>
        </li>
        <li><a href="@Url.Action("index", "role")">角色列表</a></li>
        <li class="active">@ViewBag.Title</li>
    </ul>
</div>

<div class="page-content">
    <h1>@ViewBag.Title</h1>
    <hr />
    <div class="row">
        <div class="col-sm-12">
            <form asp-route="rolePermission" id="formRolePermission" onsubmit="return false;" method="post" class="form-horizontal">
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.SysRole.Id)
                <div class="form-group">
                    <div class="col-sm-4">
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn dropdown-toggle">
                                @Model.SysRole.Name
                                <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-default">
                                @foreach (var item in Model.RoleList)
                                {
                                    <li>
                                        <a href="@Url.RouteUrl("rolePermission", new { id = item.Id })">@item.Name</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @{
                        var nodes = Model.CategoryList.Where(o => String.IsNullOrEmpty(o.FatherResource)).OrderBy(o => o.Name);//主菜单
                        foreach (var item in nodes)
                        {
                            var clildNodes = Model.CategoryList.Where(o => o.FatherResource == item.SysResource).ToList();
                            <div class="col-sm-4">
                                <div class="widget-box">
                                    <div class="widget-header widget-header-flat">
                                        <h4 class="widget-title">
                                            <label @(Model.Permissions != null && Model.Permissions.Any(o => o.CategoryId == item.Id) ? "class=text-danger" : "")>
                                                @if (Model.Permissions != null && Model.Permissions.Any(o => o.CategoryId == item.Id))
                                                {
                                                    <input type="checkbox" name="sysResource" value="@item.Id" checked="checked" />
                                                }
                                                else
                                                { 
                                                    <input type="checkbox" name="sysResource" value="@item.Id" />
                                                }
                                            </label>
                                        </h4>
                                    </div>
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            @if (clildNodes.Any())//子菜单
                                            {
                                            <ul>
                                                @foreach (var child in clildNodes)
                                                {
                                                    Html.RenderPartial("_RenderItem", ValueTuple.Create(child, Model.CategoryList, Model.Permissions));
                                                }
                                            </ul>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>

                <div class="col-md-offset-1">
                    <button class="btn btn-info" type="submit">
                        <i class="ace-icon fa fa-check bigger-110"></i>
                        提交保存
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>